
nav {
    background-color: rgb(126, 160, 212);
    color: rgb(228, 233, 245);
    position: sticky;
    margin-bottom: 5em;
    box-shadow: 5px 0 3px rgb(189, 177, 177);
    padding-top: 2em;
    padding-bottom: 2em;
}


.nav-item{
    margin:5px;
}
.nav-item button {
 border-bottom-left-radius: 20px;
 border-top-right-radius: 20px;
}
h3{
    text-align: Center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;

    
   }
   .brand{
       margin-left:5em;
       margin-right:6em;
   }
   ul {
       margin-left: auto;
       margin-right: auto;
   }