<router-outlet></router-outlet>

<h3 style ="text-align: center">Reset Password</h3>
<div class="card w-80 text-center" style="margin:2%;">
<div  >
  <form style="margin:2%;" >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="tempEmail" required [(ngModel)]="tempEmail" name="tempEmail">
      </div>

      <div class="form-group">
       <label for="birthdate">Birth Date</label>
       <input type="text" class="form-control" id="tempBirth" required [(ngModel)]="tempBirth" name="tempBirth">
      </div>

    <div class="form-group">
        <label for="newPass">New Password</label>
        <input type="text" class="form-control" id="newPass" required [(ngModel)]="user.password" name="password">
      </div>
  
  <button type="submit" class="btn btn-success" routerLink="/login">Reset</button>
      <!-- add  like fuinction to like buttons-->
 
  </form>
</div>
</div>



