<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
- -

-<Appenders>
- -

-<Console target="System_out" name="Console">
- -

-<PatternLayout>

<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n </Pattern>

</PatternLayout>

</Console>
- -

-<File name="File" fileName="C:\Users\public\public desktop\File">
- -

-<PatternLayout>

<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n </Pattern>

</PatternLayout>

</File>

</Appenders>
- -

-<Loggers>
- -

-<Logger name="com.revature.services.logit" additivity="false" level="info">

<AppenderRef ref="Console"/>

<AppenderRef ref="File"/>


</Logger>
- -

-<Root>

<AppenderRef ref="Console"/>

<AppenderRef ref="File"/>

</Root>

</Loggers>

</Configuration>