<router-outlet></router-outlet>

<h3 style ="text-align: center">Reset Password</h3>
<div class="card w-80 text-center" style="margin:2%;">
<div  >
  <form style="margin:2%;" >
  


    <div class="form-group">

        <p>Please enter your birthdate or password to reset your password</p>
        <label for="tempBirth">Birth Date</label>
        <input type="text" class="form-control" id="tempBirth" required [(ngModel)]="tempBirth" name="tempBirth">
      </div>

      <p>Or enter your password</p>

    <div class="form-group">
      <label for="tempPass">Pasword</label>
      <input type="text" class="form-control" id="tempPass" required [(ngModel)]="tempPass" name="tempPass">
    </div>

    <div class="form-group">
        <label for="aboutMe">New Password</label>
        <input type="text" class="form-control" id="aboutMe" required [(ngModel)]="user.password" name="password">
      </div>

  
  <button type="submit" class="btn btn-success" routerLink="/login">reset password</button>
      <!-- add  like fuinction to like buttons-->
 
  </form>
</div>
</div>



