<h3 style ="text-align: center">Reset Password</h3>
<div class="card w-80 text-center" style="margin:2%;">
<div [hidden]="submitted" >
  <form style="margin:2%;"  (ngSubmit)="onSubmit()">
  


    <div class="form-group">

        <p>Please enter your birthdate or password to reset your password</p>
        <label for="birthdate">Birth Date</label>
        <input type="text" class="form-control" id="birthdate" required [(ngModel)]="user.birthdate" name="birthdate">
      </div>

      <p>Or enter your password</p>

    <div class="form-group">
      <label for="password">Pasword</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>

    <div class="form-group">
        <label for="aboutMe">New Password</label>
        <input type="text" class="form-control" id="aboutMe" required [(ngModel)]="user.password" name="password">
      </div>

  
  <button type="submit" class="btn btn-success" routerLink="/reset">reset password</button>
      <!-- add  like fuinction to like buttons-->
 
  </form>
</div>
</div>

<div [hidden]="submitted">
  <!--<h4>You now exist in The MoonVerse!!!</h4>
  <button class="btn btn-success" (click)="newuser()">register</button> -->
</div>

