<router-outlet></router-outlet>

  <div id="cards" class="card w-80 text-center" style="margin:2%;"> <!--use reverse pipe shows newest post first-->
    <div class="card-header">
      <img class="card-img-top" alt="profile-image" src={{profile.profilePicture}}>
    
  </div>
  <div class="card-body">
    <h3>{{firstName | titlecase}} {{lastName | titlecase}}</h3>
    <br>
    <p>About Me: {{profile.aboutMe}}</p>
    <p>City: {{profile.city}}</p>
    <p>Profession: {{profile.profession}}</p>
    <p>Favorite Planet: {{profile.favoritePlanet}}</p>

    
  </div>
 
  <button type="submit" class="btn btn-success" style="width:40%" style="margin:auto;" routerLink="/update-profile">Update Profile</button> 
 <br>
  <button type="submit" class="btn btn-success" style="width:20%;" style="margin:auto;" routerLink="/posts">Create a new post</button>
  
 

  <div>
    <app-feed></app-feed>
  </div>
  </div>
