<router-outlet></router-outlet>

<h3 style ="text-align: center">Create new MoonVerse account!</h3>
<div class="card w-80 text-center" style="margin:2%;">
<div >
  <form style="margin:2%;" >
   

    <div class="form-group" style="margin:2%" >
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
    </div>

   <div class="form-group">
      <label for="name">Password </label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>

    <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
      </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>

    <div class="form-group">
        <label for="name">Birthdate</label>
        <input type="text" class="form-control" id="birthDate" required [(ngModel)]="user.birthDate" name="birthDate">
      </div>
   

      <button class="btn btn-success" routerLink="/login" (click)="newUser()">register</button> 
  </form>
</div>

<!--<div *ngif ="!isCollapsed">
  <p>You've been created in MoonVerse!!! Please login to contiue...</p>
</div>-->

</div>
